<h1><%= t('tours') %></h1>
<ul class="mdc-list">
  <% @tours.each do |tour| %>
    <li class="mdc-list-item">
      <%= link_to tour.name, author_tour_url(tour), class: "mdc-list-item__text" %>
      <div class="mdc-list-item__meta">
        <%= link_to_destroy "remove_circle", author_tour_url(tour), "mdc-icon-button material-icons" %>
      </div>
    </li>
  <% end %>
</ul>
<%= link_to t('new_tour'), new_author_tour_url, class: "mdc-button mdc-button--outlined" %>
