<h1><%= t('new_tour') %></h1>
<%= form_for [:author, @tour], builder: MaterialFormBuilder do |f| %>
  <%= f.error_messages %>
  <%= f.m_text_field :name %>
  <%= f.m_image_field :tour_image_file, placeholder: I18n.t('upload_image_placeholder') %>
  <%= f.m_check_box :enforce_sequence %>
  <%= f.m_check_box :enforce_proximity %>
  <%= f.m_text_field :password %>
  <%= f.m_submit %>
<% end %>
