<h1><%= @tour.name %></h1>
<h2 class="mt-5"><%= t('edit_locations') %></h2>
<ul class="mdc-list">
  <% @tour.locations.each.with_index do |location, i| %>
    <li class="mdc-list-item">
      <%= link_to location.name, author_location_path(location), class: "mdc-list-item__text" %>
      <div class="mdc-list-item__meta">
        <% if i > 0 %>
          <%= link_to "arrow_upward", move_higher_author_location_path(location), class: "mdc-icon-button material-icons" %>
        <% end %>
        <%= link_to_destroy "remove_circle", author_location_path(location), "mdc-icon-button material-icons" %>
      </div>
    </li>
  <% end %>
</ul>
<%= link_to t('new_location'), new_author_location_url(tour_id: @tour.id), class: "mdc-button mdc-button--outlined"  %>
<hr>

<h2 class="mt-5"><%= t('edit_tour') %></h2>
<%= form_for [:author, @tour], builder: MaterialFormBuilder do |f| %>
<%
  button_id = 'tour_update_button'
  enable_button = "
    var btns = document.getElementsByClassName('#{button_id}');
    for (var i = 0; i < btns.length; i++) {
      btns[i].disabled = false;
    }
  ".html_safe
%>
<%= f.m_check_box :enforce_sequence, onclick: enable_button %>
<%= f.m_check_box :enforce_proximity, onclick: enable_button %>
<%= f.m_submit t('edit'), disabled: true, class: button_id %>
<hr>
<h3><%= t('edit_password') %></h3>
<%= f.m_text_field :password, oninput: enable_button %>
<%= f.m_submit t('edit'), disabled: true, class: button_id %>
<hr>
<h3><%= t('edit_image') %></h3>
<%= f.m_image_field :tour_image_file, placeholder: I18n.t('upload_image_placeholder'), onchange: enable_button %>
<%= f.m_submit t('edit'), disabled: true, class: button_id %>
<hr>
<% end %>
