.mat-elevation-z8 {
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
    0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

/* -------------------------------------- */

.mat-table {
  background: #fff;
}
.mat-table tbody,
.mat-table tfoot,
.mat-table thead,
.mat-table-sticky,
[mat-footer-row],
[mat-header-row],
[mat-row],
mat-footer-row,
mat-header-row,
mat-row {
  background: inherit;
}
mat-footer-row,
mat-header-row,
mat-row,
td.mat-cell,
td.mat-footer-cell,
th.mat-header-cell {
  border-bottom-color: rgba(0, 0, 0, 0.12);
}
.mat-header-cell {
  color: rgba(0, 0, 0, 0.54);
}
.mat-cell,
.mat-footer-cell {
  color: rgba(0, 0, 0, 0.87);
}

/* -------------------------------------- */

.mat-table {
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}
.mat-header-cell {
  font-size: 12px;
  font-weight: 500;
}
.mat-cell,
.mat-footer-cell {
  font-size: 14px;
}

/* -------------------------------------- */

mat-table {
  display: block;
}
mat-header-row {
  min-height: 56px;
}
mat-footer-row,
mat-row {
  min-height: 48px;
}
mat-footer-row,
mat-header-row,
mat-row {
  display: flex;
  border-width: 0;
  border-bottom-width: 1px;
  border-style: solid;
  align-items: center;
  box-sizing: border-box;
}
mat-footer-row::after,
mat-header-row::after,
mat-row::after {
  display: inline-block;
  min-height: inherit;
  content: '';
}
mat-cell:first-of-type,
mat-footer-cell:first-of-type,
mat-header-cell:first-of-type {
  padding-left: 24px;
}
[dir='rtl'] mat-cell:first-of-type,
[dir='rtl'] mat-footer-cell:first-of-type,
[dir='rtl'] mat-header-cell:first-of-type {
  padding-left: 0;
  padding-right: 24px;
}
mat-cell:last-of-type,
mat-footer-cell:last-of-type,
mat-header-cell:last-of-type {
  padding-right: 24px;
}
[dir='rtl'] mat-cell:last-of-type,
[dir='rtl'] mat-footer-cell:last-of-type,
[dir='rtl'] mat-header-cell:last-of-type {
  padding-right: 0;
  padding-left: 24px;
}
mat-cell,
mat-footer-cell,
mat-header-cell {
  flex: 1;
  display: flex;
  align-items: center;
  overflow: hidden;
  word-wrap: break-word;
  min-height: inherit;
}
table.mat-table {
  border-spacing: 0;
}
tr.mat-header-row {
  height: 56px;
}
tr.mat-footer-row,
tr.mat-row {
  height: 48px;
}
th.mat-header-cell {
  text-align: left;
}
[dir='rtl'] th.mat-header-cell {
  text-align: right;
}
td.mat-cell,
td.mat-footer-cell,
th.mat-header-cell {
  padding: 0;
  border-bottom-width: 1px;
  border-bottom-style: solid;
}
td.mat-cell:first-of-type,
td.mat-footer-cell:first-of-type,
th.mat-header-cell:first-of-type {
  padding-left: 24px;
}
[dir='rtl'] td.mat-cell:first-of-type,
[dir='rtl'] td.mat-footer-cell:first-of-type,
[dir='rtl'] th.mat-header-cell:first-of-type {
  padding-left: 0;
  padding-right: 24px;
}
td.mat-cell:last-of-type,
td.mat-footer-cell:last-of-type,
th.mat-header-cell:last-of-type {
  padding-right: 24px;
}
[dir='rtl'] td.mat-cell:last-of-type,
[dir='rtl'] td.mat-footer-cell:last-of-type,
[dir='rtl'] th.mat-header-cell:last-of-type {
  padding-right: 0;
  padding-left: 24px;
}
