.mFileUpload {
  margin-top: 20px;
}

.mFileUpload__button {
  margin: 0 10px 0 0;
}

.mFileUpload__fileInput {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  padding: 0;
  z-index: 10;
  font-size: 20px;
  cursor: pointer;
  height: 36px;
  opacity: 0;
  filter: alpha(opacity=0);
}

.mFileUpload__status {
  border: none;
  font-size: 12px;
  padding-left: 0;
  width: 250px;
}
