$mdc-theme-primary: #444;
$mdc-theme-secondary: #999;
$mdc-theme-background: #fff;
$mdc-theme-dark: rgba(0, 0, 0, .87);
$mdc-theme-ternary: #222;

$mdc-theme-primary-light: rgba($mdc-theme-primary, .25);

@import '@material/button/mdc-button';
@import '@material/drawer/mdc-drawer';
@import '@material/list/mdc-list';
@import '@material/top-app-bar/mdc-top-app-bar';
@import '@material/card/mdc-card';
@import '@material/typography/mdc-typography';
@import '@material/checkbox/mdc-checkbox';
@import '@material/form-field/mdc-form-field';
@import '@material/layout-grid/mdc-layout-grid';
@import '@material/radio/mdc-radio';
@import '@material/textfield/mdc-text-field';
@import '@material/select/mdc-select';
@import '~bootstrap-utilities';
@import '@material/icon-button/mdc-icon-button';

a {
  &:active,
  &:hover,
  &:visited {
    color: $mdc-theme-dark;
  }
}

hr {
  border: 0;
  border-top: 1px solid $mdc-theme-primary-light;
}

.hr-narrow {
  margin: 8px;
}

.mdc-drawer {
  border: 0;
}

.mdc-list-item {
  padding: 0;
}

.mdc-list-item__text {
  display: inline-block;
  height: 100%;
  padding: 1.5em 1em 0;
  text-decoration: none;
  width: 100%;
}

div {
  &.mdc-list-item__meta {
    display: flex;
  }
}

.mdc-button {
  margin-right: .5em;
}

.mdc-select {
  margin-right: 1em;
  width: 14em;
}

.mdc-layout-grid {
  padding: 0 !important;
}
