<%= link_to [:author, @location.tour], class: "mdc-button mdc-button--outlined topElementMargin" do %>
  <i class="material-icons mdc-button__icon" aria-hidden="true">keyboard_arrow_left</i>
  <%= t('back_to_tour') %>
<% end %>

<h1><%= @location.name %></h1>

<%= form_for [:author, @location], builder: MaterialFormBuilder do |f| %>
<%
  button_id = 'location_update_button'
  enable_button = "document.getElementById('#{button_id}').disabled = false".html_safe
%>
<%= f.m_text_field :name, oninput: enable_button %>
<%= f.m_text_field :lat, oninput: enable_button %>
<%= f.m_text_field :lng, oninput: enable_button %>
<%= f.m_submit t('edit'), disabled: true, id: button_id %>
<% end %>

<% if @location.location_content_items.present? %>
  <h2 class="mt-5"><%= t('edit_content_items') %></h2>
  <ul class="mdc-list">
    <% @location.location_content_items.each.with_index do |item, i| %>
      <li class="mdc-list-item">
        <%= t(item.type) + ':' %>
        <%= item.name %>
        <div class="mdc-list-item__meta">
          <% if i > 0 %>
            <%= link_to "arrow_upward", move_higher_author_location_location_content_item_path(item.location_id, item.id), class: "mdc-icon-button material-icons" %>
          <% end %>
          <div class="mdc-list-item__meta">
            <%= link_to_destroy "remove_circle", [:author, @location, item],  "mdc-icon-button material-icons" %>
          </div>
        </div>
      </li>
    <% end %>
  </ul>
<% end %>

<%=
  form_for(
    @location_content_item,
    url: new_author_location_location_content_item_path(@location),
    method: :get, builder: MaterialFormBuilder
  ) do |f|
%>
  <div class='mdc-form-field'>
    <%=
      f.m_select(
        :type,
        options_for_select(
          @location.available_content_items.map { |choice| [t(choice),choice] }
        ),
        include_blank: true
      )
    %>
    <%= f.m_submit(t('add_content_item')) %>
  </div>
<% end %>
<hr>
<%= link_to t('create_another_location'), new_author_location_url(tour_id: @location.tour.id), class: "mdc-button mdc-button--outlined mt-4 mb-4" %>
