<style type="text/css">
  .mdc-list a {
    color:inherit;
    text-decoration: none;
  }

  td {
    padding-right: 50px !important;
  }

  td ul {
    padding-left: 12px;
  }

  .mat-table {
    width: 100%;
  }
</style>

<% if params[:tour_id].blank? %>
  <% if @answers.present? %>
    <h1><%= I18n.t('answers_tours') %></h1>
    <ul class="mdc-list">
      <%
        tours_ids = @answers.map(&:tour_id).uniq
      %>
      <% tours_ids.each_with_index do |id, i| %>
        <li class="mdc-list-item" tabindex=<%= i %>>
          <a class="mdc-list-item__text" href="/author/answers?tour_id=<%= id %>">
            <%= Tour.find(id).name %>
          </a>
        </li>
      <% end %>
    </ul>
  <% else %>
    <h2><%= t('answers_not_found') %></h2>
  <% end %>

<% elsif params[:tour_id].present? && params[:answer_id].blank? %>
  <h1><%= raw I18n.t('answers_dates_and_aliases') %></h1>

  <ul class="mdc-list">
    <%
      answers_for_tour_id = @answers.select{ |item| item.tour_id == params[:tour_id].to_i }
    %>
    <% answers_for_tour_id.each_with_index do |answer, i| %>
      <li class="mdc-list-item" tabindex=<%= i %>>
        <a class="mdc-list-item__text" href="/author/answers?tour_id=<%= params[:tour_id] %>&answer_id=<%= answer.id %>">
          <%=
            I18n.t(
              'answers_submitted_at_by',
              at: I18n.l(answer.created_at, format: :long),
              by: answer.alias
            )
          %>
        </a>
        <div class="mdc-list-item__meta">
          <%= link_to_destroy "remove_circle", author_answer_url(answer.id), "mdc-icon-button material-icons" %>
        </div>
      </li>
    <% end %>
  </ul>

  <a href="/author/answers" class="mdc-button mdc-button--outlined mdc-ripple-upgraded"><span class="mdc-button__label"><%= raw I18n.t('answers_back_to_tours') %></span></a>

<% elsif params[:answer_id].present? %>
  <%
    answer = @answers.find{ |item| item.id == params[:answer_id].to_i }
    requirements = JSON.parse(answer.json)['requirements']
  %>
  <h1>
    <%=
      I18n.t(
        'answers_submitted_at_by',
        at: I18n.l(answer.created_at, format: :long),
        by: answer.alias
      )
    %>
  </h1>

  <table class="mat-table" mat-table="" role="grid">
    <thead>
      <tr class="mat-header-row ng-star-inserted" mat-header-row="" role="row">
        <th class="mat-header-cell cdk-column-position mat-column-position ng-star-inserted" mat-header-cell="" role="columnheader">
          <%= I18n.t('answers_multichoice_question_instruction') %>
        </th>
        <th class="mat-header-cell cdk-column-name mat-column-name ng-star-inserted" mat-header-cell="" role="columnheader">
          <%= I18n.t('answers_choices') %>
        </th>
        <th class="mat-header-cell cdk-column-weight mat-column-weight ng-star-inserted" mat-header-cell="" role="columnheader">
          <%= I18n.t('answers_sumbitted_values') %>
        </th>
        <th class="mat-header-cell cdk-column-weight mat-column-weight ng-star-inserted" mat-header-cell="" role="columnheader" nowrap>
          <%= I18n.t('answers_are_right') %>
        </th>
      </tr>
    </thead>
    <tbody>
      <% requirements.each do |requirement| %>
        <%
        submittedValues = JSON.parse(answer.json)['answers'].find{ |item| item[0].to_i == requirement['id'] }
        submittedValues = submittedValues[1] if submittedValues.present?
        %>
        <% if requirement['type'] == 'LocationMultichoice' %>
          <tr class="mat-row ng-star-inserted" mat-row="" role="row">
            <td class="mat-cell cdk-column-position mat-column-position ng-star-inserted" mat-cell="" role="gridcell">
              <%= requirement['question'] %>
            </td>
            <td class="mat-cell cdk-column-position mat-column-position ng-star-inserted" mat-cell="" role="gridcell">
              <ul>
                <% requirement['choices'].each do |choice| %>
                  <li>
                    <%= choice['choice'] %> <%= choice['correct'] ? "(#{I18n.t('correct')})" : '' %>
                  </li>
                <% end %>
              </ul>
            </td>
            <td class="mat-cell cdk-column-position mat-column-position ng-star-inserted" mat-cell="" role="gridcell">
              <% if submittedValues.present? %>
                <ul>
                  <% submittedValues['chosenChoices'].each do |choice| %>
                    <li>
                      <%= choice %>
                    </li>
                  <% end %>
                </ul>
              <% else %>
                --
              <% end %>
            </td>
            <td class="mat-cell cdk-column-position mat-column-position ng-star-inserted" mat-cell="" role="gridcell" nowrap>
              <% if requirement['choices'].present? %>
                <% if submittedValues.present? && submittedValues['chosenChoices'].present? %>
                  <%= (requirement['choices'].select{ |item| item['correct'] }.map{ |item| item['choice'].strip }.sort == submittedValues['chosenChoices'].map{ |item| item.strip }.sort) ? I18n.t('yes') : I18n.t('no') %>
                <% else %>
                  <%= I18n.t('answers_not_submitted') %>
                <% end %>
              <% else %>
                --
              <% end %>
            </td>
          </tr>
        <% elsif requirement['type'] == 'LocationQuestion' %>
          <tr class="mat-row ng-star-inserted" mat-row="" role="row">
            <td class="mat-cell cdk-column-position mat-column-position ng-star-inserted" mat-cell="" role="gridcell">
              <%= requirement['question'] %>
            </td>
            <td class="mat-cell cdk-column-position mat-column-position ng-star-inserted" mat-cell="" role="gridcell">
              --
            </td>
            <td class="mat-cell cdk-column-position mat-column-position ng-star-inserted" mat-cell="" role="gridcell">
              <%= submittedValues.present? ? submittedValues['answerText'] : '--' %>
            </td>
            <td class="mat-cell cdk-column-position mat-column-position ng-star-inserted" mat-cell="" role="gridcell">
              --
            </td>
          </tr>
        <% elsif requirement['type'] == 'LocationInstruction' %>
          <tr class="mat-row ng-star-inserted" mat-row="" role="row">
            <td class="mat-cell cdk-column-position mat-column-position ng-star-inserted" mat-cell="" role="gridcell">
              <%= requirement['instruction'] %>
            </td>
            <td class="mat-cell cdk-column-position mat-column-position ng-star-inserted" mat-cell="" role="gridcell">
              <%= I18n.t('answers_done') + ' / ' + I18n.t('answers_not_done') %>
            </td>
            <td class="mat-cell cdk-column-position mat-column-position ng-star-inserted" mat-cell="" role="gridcell">
              <%= submittedValues.present? ? I18n.t('answers_done'): I18n.t('answers_not_done') %>
            </td>
            <td class="mat-cell cdk-column-position mat-column-position ng-star-inserted" mat-cell="" role="gridcell">
              --
            </td>
          </tr>
        <% end %>
      <% end %>
    </tbody>
  </table>

  <a href="/author/answers?tour_id=<%= params[:tour_id] %>" class="mdc-button mdc-button--outlined mdc-ripple-upgraded mt-5"><span class="mdc-button__label"><%= raw I18n.t('answers_back_to_dates_and_aliases') %></span></a>
<% end %>
