$mdc-theme-primary: #444;
$mdc-theme-secondary: #999;
$mdc-theme-background: #fff;
$mdc-theme-dark: rgba(0, 0, 0, .87);
$mdc-theme-ternary: #222;
$mdc-theme-quartary: #000;
$mdc-theme-quartary-light: rgba($mdc-theme-quartary, .33);

$mdc-theme-primary-light: rgba($mdc-theme-primary, .25);

@import '@material/react-button/index';
@import '@material/react-drawer/index';
@import '@material/react-list/index';
@import '@material/react-top-app-bar/index';
@import '@material/react-material-icon/index';
@import '@material/react-card/index';
@import '@material/react-typography/index';
@import '@material/react-checkbox/index';
@import '@material/form-field/mdc-form-field';
@import '@material/layout-grid/mdc-layout-grid';
@import '@material/react-radio/index';
@import '@material/react-text-field/index';

@import '~bootstrap-utilities';

@import 'noty/src/noty.scss';
@import 'noty/src/themes/mint.scss';

@import './topElementMargin.scss';

body {
  margin: 0;
  padding: 0;
}

a {
  color: $mdc-theme-dark;

  &:active,
  &:hover,
  &:visited {
    color: $mdc-theme-dark;
  }
}

input,
label {
  margin-bottom: 0;
}

.mdc-drawer {
  border: 0;
}

// card's divs
div {
  &.mdc-form-field {
    .mdc-checkbox {
      margin-left: 16px;
    }
  }
}

hr {
  border: 0;
  border-top: 1px solid $mdc-theme-primary-light;
  margin: 8px;
}

.mdc-card--padded {
  margin-top: 6px;

  .mdc-typography--body1 {
    margin: 16px;
  }
}

.mdc-card__primary-action {
  cursor: auto;
}

.mdc-card__primary-action::before {
  background-color: inherit;
}

.mdc-button {
  &.secondary-text-button {
    /* stylelint-disable */
    @include mdc-button-ink-color($mdc-theme-secondary);
    @include mdc-states(secondary);
    /* stylelint-enable */
  }
}

.mdc-layout-grid {
  .mdc-typography--error {
    color: red;
  }
}

.drawer-app-content--list {
  border: 0;
  flex: auto;
  margin-left: .5em;
  margin-right: .5em;
  max-width: 33em;
  width: auto;
}

.add-margin {
  padding: 1.3rem 0 0 3rem;
}

.choice--correct {
  label {
    background-color: $mdc-theme-quartary-light;
    color: $mdc-theme-quartary;
    padding: 0 .25em;

    &::after {
      content: ' ✓';
    }
  }

  span {
    color: $mdc-theme-quartary;

    &::after {
      content: ' ✓';
    }
  }
}

.mdc-text-field--full-width {
  margin-top: 11px;
  overflow: visible;
  width: 100%;

  .mdc-text-field {
    width: 100%;
  }
}
