<h1><%= t('new_instruction') %></h1>
<%= form_for [:author, @location, @content_item], builder: MaterialFormBuilder do |f| %>
  <%= f.error_messages %>
  <%= f.m_text_area :name, label: t('instruction') %>
  <%= f.m_submit %>
<% end %>
