<h1><%= t('new_image') %></h1>
<%= form_for [:author, @location, @content_item], builder: MaterialFormBuilder do |f| %>
  <%= f.error_messages %>
  <%= f.m_text_field :name %>
  <%= f.m_text_area :description %>
  <%= f.m_image_field :location_image_file, placeholder: I18n.t('upload_image_placeholder') %>
  <%= f.m_submit %>
<% end %>
