<h1><%= t('new_text') %></h1>
<%= form_for [:author, @location, @content_item], builder: MaterialFormBuilder do |f| %>
  <%= f.error_messages %>
  <%= f.m_text_field :name %>
  <%= f.m_text_area :content %>
  <%= f.m_submit %>
<% end %>
