<script type="text/javascript">
  window.I18n = {}
  I18n.defaultLocale = I18n.locale = "<%= I18n.locale %>";
</script>
<%= javascript_include_tag 'i18n', skip_pipeline: true %>
<%= javascript_include_tag 'translations', skip_pipeline: true %>
