<!DOCTYPE html>
<html>
  <head>
    <title>Touren - Author</title>
    <meta name='viewport' content='width=device-width, initial-scale=1' />

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link rel="icon"
          type="image/png"
          href="/images/launchers/launcher_48.png">

    <%= stylesheet_link_tag '/material-icons/icons.css', media: 'all' %>
    <%= stylesheet_pack_tag 'authorPack' %>

    <%= render 'layouts/i18n' %>
    <%= javascript_pack_tag 'authorPack' %>

    <%= flash_messages %>
  </head>
  <% css_component(:authorApp) do |c| %>
    <body class='<%= c.css_bem %> mdc-typography'>
      <% # TODO: Find a way how to get rid of z-index %>
      <header class='mdc-top-app-bar' style='z-index: 7;'>
        <div class='mdc-top-app-bar__row'>
          <section class='mdc-top-app-bar__section mdc-top-app-bar__section--align-start'>
            <a href='#' class='material-icons mdc-top-app-bar__navigation-icon <%= c.css_bem(:toggleMenu) %>'>menu</a>
            <% if !current_page?(controller: 'tours', action: 'index') %>
              <a href='#' class='material-icons mdc-top-app-bar__navigation-icon <%= c.css_bem(:goBack) %>'>arrow_back_ios</a>
            <% end %>
            <span class='mdc-top-app-bar__title'><%= t('author') %></span>
          </section>
        </div>
      </header>
      <div class='mdc-top-app-bar--fixed-adjust'>
        <aside class='mdc-drawer mdc-drawer--dismissible mdc-drawer--open <%= c.css_bem(:sidebar) %>'>
          <div class='mdc-drawer__content'>
            <nav class='mdc-list'>
              <a class='mdc-list-item <%= 'mdc-list-item--activated' if controller_name != 'answers' %>' href='/author/tours'>
                <i class='material-icons mdc-list-item__graphic'>location_on</i>
                <span class='mdc-list-item__text'><%= t('tours') %></span>
              </a>
              <a class='mdc-list-item <%= 'mdc-list-item--activated' if controller_name == 'answers' %>' href='/author/answers'>
                <i class='material-icons mdc-list-item__graphic'>list</i>
                <span class='mdc-list-item__text'><%= t('answers') %></span>
              </a>
              <hr class='hr-narrow'>
              <a class='mdc-list-item' href='/tours'>
                <i class='material-icons mdc-list-item__graphic'>person</i>
                <span class='mdc-list-item__text'><%= t('user_app') %></span>
              </a>
              <a class='mdc-list-item' href='/imprint.html'>
                <i class='material-icons mdc-list-item__graphic'>subject</i>
                <span class='mdc-list-item__text'><%= t('imprint') %></span>
              </a>
              <% link_to destroy_author_session_path, method: :delete, class: 'mdc-list-item' do %>
                <i class='material-icons mdc-list-item__graphic'>exit_to_app</i>
                <span class='mdc-list-item__text'><%= t('sign_out') %></span>
              <% end %>
            </nav>
          </div>
        </aside>
        <div class='mdc-drawer-app-content'>
          <div class='yieldContainer mdc-typography'>
            <%= yield %>
          </div>
        </div>
      </div>
    </body>
  <% end %>
</html>
