<!DOCTYPE html>
<html>
  <head>
    <title>Touren</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link rel="icon"
          type="image/png"
          href="/images/launchers/launcher_48.png">

    <%= stylesheet_link_tag '/material-icons/icons.css', media: 'all' %>

    <%= render 'layouts/i18n' %>

    <link rel="manifest" href="/manifest.json">
    <link rel="apple-touch-icon" sizes="192x192" href="/images/launchers/launcher_192.png">
  </head>
  <body class="mdc-typography">
    <%= yield %>
  </body>
</html>
