<h1><%= t('new_link') %></h1>
<%= form_for [:author, @location, @content_item], builder: MaterialFormBuilder do |f| %>
  <%= f.error_messages %>
  <%= f.m_text_field :name, label: t('title') %>
  <%= f.m_text_area :content, label: t('url') %>
  <%= f.m_submit %>
<% end %>
